/* challenge is to replicate this https://www.figma.com/file/dGPcL6Ym2avOt4736aHb2B/conquer-responsive-layout-week-1-final-challenge?node-id=0%3A1 */
 @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin     : 0;
  font-family: 'Inter', sans-serif;
}

.container {
  width : 80%;
  margin: 0 auto;
  max-width: 750px;

}

.intro-content {
  width: 80%;
}

.intro {
  background: #23424a;
  color     : white;
  padding   : 50px 0;
}

.btn{
  background-color :#0edae9;
  font-size: 1rem;
  padding: 0.6em 2em;
  font-weight: bold;
  text-decoration: none;
  border-radius:2em;
  text-transform: uppercase;
  color: #03282e;
}
.btn-wrapper{
  margin: 2rem 0;
}